*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
header{
    height: 480px;
    background-image: url(Images/bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    

}
header::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}
header div , header p, header h1, header h2{
    position: relative;
}
.wrapper{
    text-align: center;
    width: 50%;
}
.wrapper h1{
    font-size: 50px;
}