* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
header {
  height: 450px;
  background-image: url(Images/bg-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}
header::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
}
header div,
header p,
header h1,
header h2 {
  position: relative;
}
.wrapper {
  text-align: center;
  width: 50%;
}
section {
  padding-top: 35px;
  padding-bottom: 35px;
}
section h2 {
  text-align: center;
  margin-bottom: 30px;
}
.wrapper h1 {
  font-size: 50px;
  margin-bottom: 10px;
}
.wrapper h2 {
  font-size: 25px;
  padding: 15px;
}
.wrapper p {
  font-size: 15px;
}
.submit {
  padding-top: 40px;
}
.submit input {
  padding: 10px;
  width: 50%;
  border: none;
  border-radius: 5px;
}
.submit button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
}
.game {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.changer {
  width: 32%;
  height: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.changer p {
  font-size: 15px;
}
.table p {
  width: 100%;
  color: grey;
  margin: auto;
  padding-bottom: 30px;
  text-align: center;
}
table {
  width: 100%;
  max-width: 900px;
  margin-top: 20px;
  justify-content: center;
  margin: 0 auto 40px;
  border-collapse: collapse;
}
table,
th,
td {
  border: 1px solid rgb(204, 204, 204);
  font: weight 800px;
}

td {
  padding: 15px;
  color: rgb(145, 145, 145);
  text-align: center;
}
thead {
  background-color: black;
}
tr {
  color: rgb(250, 250, 250);
}
tr:nth-child(even) {
  background-color: #eae6e6;
}
.switch-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.apart {
  width: 32%;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 250px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.apart img {
  height: 70%;
  width: 100%;
  object-fit: contain;
}
.apart p {
  font-size: 15px;
}
.apart h4 {
  font-size: 18px;
}
.launch-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.title {
  width: 22%;
  height: 250px;
  text-align: center;
}
.title img {
  height: 70%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.title h3 {
  padding-top: 10px;
}
.line {
  height: 5px;
  background-color: red;
}

.scoop {
  height: 360px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
.scoopbar {
  width: 32%;
  height: 360px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.scoopbar img {
  height: 50%;
  width: 100%;
  object-fit: contain;
  background-color: red;
  border-radius: 5px;
}
.scoopbar p {
  font-size: 13px;
  padding-top: 5px;
}
.scoopbar h3 {
  padding-top: 5px;
}
.scoopbar a {
  padding: 0.5rem 1rem;
  background-color: red;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  margin: 12px 0 10px 0;
}

footer {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 230, 215);
}
.box a {
  padding: 0.5rem 1rem;
  background-color: red;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  margin: 10px 0 10px 0;
  display: inline-block;
}

.box:first-of-type,
.box:last-of-type {
  width: 20%;
}
.box:nth-of-type(2) {
  width: 40%;
  color: red;
  text-align: center;
}
.box:nth-of-type(2) h2 {
  line-height: 1.2;
}

.box img {
  height: 200px;
  width: 200px;
}
@media (max-width: 992px) {
  .wrapper {
    width: 100%;
  }
  .wrapper h1 {
    font-size: 30px;
  }
  .scoop {
    height: auto;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .scoopbar {
    width: 48%;
    height: auto;
    padding: 10px;
  }
  footer {
    flex-direction: column;
  }
  .box {
    width: 100%;
  }
  .game {
    flex-direction: column;
  }
  .changer {
    width: 100%;
  }
  .switch-wrapper {
    flex-direction: column;
  }
  .apart {
    width: 100%;
  }
  .launch-wrapper {
    flex-direction: column;
  }
  .title {
    width: 100%;
  }
}

@media (max-width: 480px) {
  header {
    height: 400px;
    background-position: center;
  }

  .wrapper {
    width: 100%;
  }

  .wrapper h1 {
    font-size: 30px;
    text-align: center;
  }

  .wrapper h2 {
    font-size: 20px;
    text-align: center;
  }

  .wrapper p {
    font-size: 15px;
    text-align: center;
  }

  .game,
  .switch-wrapper,
  .launch-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .changer,
  .apart,
  .title {
    width: 90%;
    padding: 20px;
  }

  table {
    width: 90%;
    font-size: 12px;
  }

  td {
    padding: 10px;
  }
  .table p {
    width: 300px;
    margin: auto;
  }
  .scoop {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-bottom: 60px;
  }
  .scoopbar {
    width: 90%;
    height: auto;
    margin-bottom: 20px;
    padding: 15px;
  }

  footer {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 15px;
    text-align: center;
  }
  .box:nth-of-type(2) {
    width: 100%;
  }
  .box:first-of-type,
  .box:last-of-type {
    align-items: center;
    width: 50%;
  }
}
